In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('lego_db/themes.csv')
df

      id                   name  parent_id
0      1                Technic        NaN
1      2         Arctic Technic        1.0
2      3            Competition        1.0
3      4         Expert Builder        1.0
4      5                  Model        1.0
..   ...                    ...        ...
609  610             Brickheadz        NaN
610  611  Series 17 Minifigures      535.0
611  612    Star Wars Episode 8      158.0
612  613             Freemakers      158.0
613  614                 Jungle       52.0

[614 rows x 3 columns]

In [2]:
# Fill parent NaN with own ID
df.parent_id.fillna(df.id, inplace=True)
df

      id                   name  parent_id
0      1                Technic        1.0
1      2         Arctic Technic        1.0
2      3            Competition        1.0
3      4         Expert Builder        1.0
4      5                  Model        1.0
..   ...                    ...        ...
609  610             Brickheadz      610.0
610  611  Series 17 Minifigures      535.0
611  612    Star Wars Episode 8      158.0
612  613             Freemakers      158.0
613  614                 Jungle       52.0

[614 rows x 3 columns]

In [3]:
# Change parent_id to int
df['parent_id'] = df['parent_id'].apply(lambda x: int(x))
df.head()

   id            name  parent_id
0   1         Technic          1
1   2  Arctic Technic          1
2   3     Competition          1
3   4  Expert Builder          1
4   5           Model          1

In [4]:
df.pivot_table(index=['parent_id', 'name']).head()

                          id
parent_id name
1         Arctic Technic   2
          Competition      3
          Expert Builder   4
          Model            5
          RoboRiders      16

In [5]:
len(df['parent_id'].unique())

139

In [6]:
df = df.set_index('id')
df

                      name  parent_id
id
1                  Technic          1
2           Arctic Technic          1
3              Competition          1
4           Expert Builder          1
5                    Model          1
..                     ...        ...
610             Brickheadz        610
611  Series 17 Minifigures        535
612    Star Wars Episode 8        158
613             Freemakers        158
614                 Jungle         52

[614 rows x 2 columns]

In [10]:
def get_names():
    names = []
    for id in df['parent_id']:
        names.append(df.name[id])
    return names

get_names()

['Technic',
 'Technic',
 'Technic',
 'Technic',
 'Technic',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Technic',
 'Technic',
 'Technic',
 'Technic',
 'Technic',
 'Technic',
 'Creator',
 'Creator',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Basic Model',
 'Creator',
 'Creator',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Model',
 'Creator',
 'Creator',
 'Town',
 'Town',
 'Town',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'City',
 'Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Classic Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town Jr.',
 'Town',
 'Town',
 'World City',
 'World City',
 'World City',
 'World City',
 'World City',
 'World City',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'Racers',
 'World Racers',
 'Racers',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Space',
 'Pirates',
 'Pirates',
 'Pirates I',
 'Pirates I',
 'Pirates I',
 'Pirates I',
 'Pirates',
 'Pirates',
 'Modular Buildings',
 'Modular Buildings',
 'Modular Buildings',
 'Star Wars',
 'Star Wars',
 'Mini',
 'Mini',
 'Mini',
 'Mini',
 'Mini',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Ultimate Collector Series',
 'Ultimate Collector Series',
 'Ultimate Collector Series',
 'Ultimate Collector Series',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Planet Series 4',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Star Wars',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Castle',
 'Designer Sets',
 'Designer Sets',
 'Seasonal',
 'Seasonal',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Advent',
 'Seasonal',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Advent Sub-Set',
 'Seasonal',
 'Christmas',
 'Seasonal',
 'Seasonal',
 'Seasonal',
 'Seasonal',
 'Train',
 'Train',
 'Train',
 'Train',
 '9V',
 '9V',
 '9V',
 'Train',
 'Train',
 'Supplemental',
 'Supplemental',
 'Supplemental',
 'Supplemental',
 'Harry Potter',
 'Harry Potter',
 'Harry Potter',
 'Harry Potter',
 'Harry Potter',
 'Harry Potter',
 'Architecture',
 'Architecture',
 'Bulk Bricks',
 'Bulk Bricks',
 'Bulk Bricks',
 'Bulk Bricks',
 'Mindstorms',
 'Mindstorms',
 'Mindstorms',
 'Mindstorms',
 'Mindstorms',
 'Pirates of the Caribbean',
 'Indiana Jones',
 'Indiana Jones',
 'Indiana Jones',
 'Indiana Jones',
 'Indiana Jones',
 'Cars',
 'Ben 10',
 'Prince of Persia',
 'SpongeBob SquarePants',
 'Studios',
 'Studios',
 'Toy Story',
 'Sculptures',
 'Sculptures',
 'Model Team',
 '4 Juniors',
 '4 Juniors',
 'Jack Stone',
 'Jack Stone',
 'Jack Stone',
 'Jack Stone',
 'Jack Stone',
 '4 Juniors',
 '4 Juniors',
 'Spider-Man',
 '4 Juniors',
 '4 Juniors',
 'Town',
 'Town',
 'Town',
 'Town',
 'Town',
 'Adventurers',
 'Adventurers',
 'Adventurers',
 'Adventurers',
 'Adventurers',
 'Other',
 'Agents',
 'Agents',
 'Alpha Team',
 'Alpha Team',
 'Alpha Team',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Aquazone',
 'Atlantis',
 'Atlantis',
 'Avatar',
 'Belville',
 'Belville',
 'Belville',
 'Belville',
 'Belville',
 'Belville',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Bionicle',
 'Boat',
 'Building Set with People',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Vehicle',
 'Classic',
 'Dino 2010',
 'Dino Attack',
 'Dinosaurs',
 'Discovery',
 "Disney's Mickey Mouse",
 'Exo-Force',
 'Fabuland',
 'Fabuland',
 'Fabuland',
 'Fabuland',
 'Fabuland',
 'Fabuland',
 'Fabuland',
 'Factory',
 'FIRST LEGO League',
 'Freestyle',
 'Hero Factory',
 'Hero Factory',
 'Hero Factory',
 'Hero Factory',
 'Hobby Sets',
 'Homemaker',
 'Inventor',
 'Island Xtreme Stunts',
 'LEGO Brand Store',
 'LEGO Brand Store',
 'LEGO Brand Store',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland',
 'Legoland Parks',
 'Legoland Parks',
 'Legoland Parks',
 'Legoland Parks',
 'Legoland Parks',
 'Legoland Parks',
 'Legoland Parks',
 'Master Building Academy',
 'Minitalia',
 'Ninja',
 'Ninjago',
 'Ninjago',
 "Pharaoh's Quest",
 'Power Functions',
 'Power Miners',
 'Primo',
 'Quatro',
 'Rock Raiders',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Service Packs',
 'Town',
 'Service Packs',
 'Service Packs',
 'Sports',
 'Sports',
 'Sports',
 'Sports',
 'Sports',
 'Spybiotics',
 'Time Cruisers',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Universal Building Set',
 'Vikings',
 'Western',
 'Western',
 'Western',
 'X-Pod',
 'X-Pod',
 'Znap',
 'Dino',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Batman',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Super Heroes',
 'Friends',
 'Friends',
 'Friends',
 'Books',
 'Books',
 'Books',
 'Clikits',
 'Gear',
 'Gear',
 'Gear',
 'Duplo',
 'Duplo',
 'Duplo',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Mindstorms',
 'Mindstorms',
 'Mindstorms',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Service Packs',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Educational and Dacta',
 'Technic',
 'Technic',
 'Technic',
 'Educational and Dacta',
 'Educational and Dacta',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Collectible Minifigures',
 'Monster Fighters',
 'Value Packs',
 'Universe',
 'The Hobbit and Lord of the Rings',
 'The Hobbit and Lord of the Rings',
 'The Hobbit',
 'The Hobbit',
 'The Hobbit',
 'The Hobbit and Lord of the Rings',
 'The Lord of the Rings',
 'The Lord of the Rings',
 'The Lord of the Rings',
 'Teenage Mutant Ninja Turtles',
 'Legends of Chima',
 'Legends of Chima',
 'Legends of Chima',
 'Legends of Chima',
 'The Lone Ranger',
 'LEGO Ideas and CUUSOO',
 'Minecraft',
 'The LEGO Movie',
 'Disney Princess',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Mixels',
 'Fusion',
 'Juniors',
 'Juniors',
 'Juniors',
 'Juniors',
 'Juniors',
 'Juniors',
 'Juniors',
 'Promotional',
 'LEGO Exclusive',
 'Elves',
 'Speed Champions',
 'Jurassic World',
 'Scooby-Doo',
 'Dimensions',
 'Nexo Knights',
 'Angry Birds',
 'Ghostbusters',
 'Disney',
 'Collectible Minifigures',
 'Brickheadz',
 'Collectible Minifigures',
 'Star Wars',
 'Star Wars',
 'City']

In [12]:
# def get_name(x):
#     for x in df['parent_id']:
#         return df.name[x]

# df['collection'] = df.apply(lambda x: get_name(x))
df['collection'] = get_names()
df

                      name  parent_id               collection
id
1                  Technic          1                  Technic
2           Arctic Technic          1                  Technic
3              Competition          1                  Technic
4           Expert Builder          1                  Technic
5                    Model          1                  Technic
..                     ...        ...                      ...
610             Brickheadz        610               Brickheadz
611  Series 17 Minifigures        535  Collectible Minifigures
612    Star Wars Episode 8        158                Star Wars
613             Freemakers        158                Star Wars
614                 Jungle         52                     City

[614 rows x 3 columns]

In [16]:
len(df['collection'].unique())

# why this number change???

133

In [19]:
unique_df = df.groupby('collection')['name'].nunique()
unique_df.to_frame()

                name
collection
4 Juniors          6
9V                 3
Advent             9
Advent Sub-Set     9
Adventurers        5
...              ...
Western            3
World City         6
World Racers       1
X-Pod              2
Znap               1

[133 rows x 1 columns]